#loadgo-logo-overlay {
  position: fixed;
  z-index: 999999999;   /* Overlay must be on top of everything */

  display: table;

  width: 100%;
  height: 100%;
  padding-top: 100px;
}

#loadgo-progress {
  text-align: center;
}

#loadgo-logo-overlay > div {
  position: relative;

  margin: 0 auto;
}

#loadgo-message {
  font-size: 13px;

  text-align: center;
}
